body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body .container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 70%;
}
body .container h1 {
  text-align: center;
}
body .container form .form-group {
  margin-bottom: 15px;
}
body .container form .form-group label {
  display: block;
  margin-bottom: 5px;
}
body .container form .form-group input[type=text],
body .container form .form-group textarea,
body .container form .form-group select {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
body .container form .form-group input[type=text]::-moz-placeholder, body .container form .form-group textarea::-moz-placeholder, body .container form .form-group select::-moz-placeholder {
  opacity: 0.4;
}
body .container form .form-group input[type=text]::placeholder,
body .container form .form-group textarea::placeholder,
body .container form .form-group select::placeholder {
  opacity: 0.4;
}
body .container form .form-group .form-check label {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
body .container form .form-group .form-check input {
  cursor: pointer;
}
body .container form .form-group .buttons-group {
  display: flex;
  gap: 10px;
}
body .container form .form-group .buttons-group .save,
body .container form .form-group .buttons-group .clear {
  width: 100%;
}
body .container form .request-main {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
body .container form .request-main .form-group:first-child {
  flex: 1;
}
body .container form .request-main .form-group:last-child {
  flex: 6;
}
body .container form .request-headers {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
body .container form .request-headers .form-group:first-child {
  flex: 1;
}
body .container form .request-headers .form-group:last-child {
  flex: 1;
}
body .container form .buttons-group {
  display: flex;
  align-items: center;
  gap: 20px;
}
body .container form button[type=submit] {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
body .container form button[type=submit]:hover {
  background-color: #218838;
}
body .container #accordion .make-visible {
  display: flex;
  word-break: keep-all;
  /* display: block; */
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
}
body .container #accordion .accordion-button {
  box-shadow: none;
  background-color: transparent;
}
body .container #accordion .saved {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
body .container #accordion .saved .form-group:first-child {
  flex: 1;
}
body .container #accordion .saved .form-group:last-child {
  flex: 3;
}
body .container #accordion .save {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-end;
}
body .container #accordion .save .form-group:first-child {
  flex: 3;
}
body .container #accordion .save .form-group:nth-child(2) {
  flex: 5;
}
body .container #accordion .save .btn {
  flex: 1;
  word-break: keep-all;
  display: flex;
  justify-content: center;
}
body .container #notificationsContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column-reverse;
  z-index: 10000;
}
body .container #notificationsContainer div {
  margin-bottom: 0;
  margin-top: 10px;
}
body .container pre {
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.visibility-button {
  display: flex;
  position: absolute;
  z-index: 1000;
  height: 100%;
}
.visibility-button .invisible {
  font-size: 20px;
}
.visibility-button .make-visible {
  border: none;
  background: none;
  font-size: large;
  height: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-size: small;
}
.visibility-button .make-visible span {
  border: 1px solid rgba(6, 38, 218, 0.651);
  color: rgba(6, 38, 218, 0.651);
  padding: 5px;
  border-radius: 7px;
  opacity: 0.8;
}/*# sourceMappingURL=styles.css.map */